<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Add this to the head section of your HTML template -->
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">


    <title>{% block title %}{% endblock %}</title>
</head>
<body class="container">
    {% block content %} {% endblock %}

<!-- Add this before the closing body tag of your HTML template -->
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>